.movies-card {
  position: relative;
  background-color: var(--bg-color-dark2);
  border-radius: 6px; 
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}

.movies-card__link {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 203px;
}

.movies-card__btn {
  position: absolute;
  right: 16px;
  top: 212px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-align: center;
  border: none;
  line-height: 0.9;
}

.movies-card:hover .movies-card__btn {
  cursor: pointer;
  opacity: 1;
}

.movies-card__btn_save {
  width: 30px;
  height: 30px;
  opacity: 1;
  background-color: transparent;
  background-image: url('../../images/saveBtn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.movies-card__btn:hover.movies-card__btn_saved, .movies-card__btn:hover.movies-card__btn_save {
  opacity: var(--opacity-btn);
  transition: var(--animate-opacity);
}

.movies-card__btn_saved {
  width: 30px;
  height: 30px;
  opacity: 1;
  background-color: transparent;
  background-image: url('../../images/savedBtn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.movies-card__btn_delete {
  width: 30px;
  height: 30px;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s var(--animation-cubic);
  background-color: transparent;
  background-image: url('../../images/deleteBtn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.movies-card__img {
  display: block;
  width: 100%;
  height: 203px;
  border-radius: 6px;
  object-fit: cover;
}

.movies-card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 16px 16px 0;
  gap: 17px;
}

.movies-card__text {
  min-height: 19px;
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}

.movies-card__time {
  display: flex;
  align-items: center;
  width: 37px;
  height: 13px;
  text-align: center;
  color: var(--bg-color-light2);
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  line-height: normal; 
  margin-bottom: 16px;
  padding: 0;
}

@media screen and (max-width: 1175px) {
  .movies-card__img {
    width: 339px;
    height: 190px;
  }

  .movies-card__time {
    margin-bottom: 14px;
  }

  .movies-card__container {
    gap: 15px;
    padding: 14px 0 0 14px;
  }

  .movies-card__btn {
    right: 14px;
    top: 197px;
  }

  .movies-card__link {
    max-height: 190px;
  }
}

@media screen and (max-width: 750px) {
  .movies-card__img {
    width: 300px;
    height: 168px;
  }

  .movies-card__text {
    font-size: 12px;
    line-height: inherit;
  }

  .movies-card__container {
    gap: 14px;
  }

  .movies-card__btn {
    right: 10px;
    top: 175px;
  }

  .movies-card__link {
    max-height: 168px;
  }
}