.form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.form__btn {
  width: 100%;
  min-height: 45px;
  margin: 0 0 17px;
  cursor: pointer;
  transition: var(--animate-opacity);
  text-align: center;
  color: var(--text-color-light2);
  border: none;
  border-radius: 3px;
  background-color: var(--btn-color-ocean);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.form__container {
  display: flex;
  gap: 5px;
  flex-direction: column;
  margin-top: 115px;
}

.form__container_path_register {
  margin-top: 63px;
}

.form__container_path_login {
  margin-top: 143px;
}

.form__error {
  min-height: 14px;
  text-align: center;
  word-break: break-word;
  color: var(--btn-color-red);
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

.form__btn:hover {
  opacity: var(--opacity-btn);
}

@media screen and (max-width: 1175px) {
  .form__container {
    margin-top: 133px;
  }

  .form__container_path_register {
    margin-top: 62px;
  }

  .form__container_path_login {
    margin-top: 143px;
  }
}

@media screen and (max-width: 750px) {
  .form {
    width: 100%;
  }

  .form__btn {
    margin-top: 1px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 12px;
    line-height: normal;
  }

  .form__container {
    margin-top: 135px;
  }

  .form__container_path_register {
    margin-top: 151px;
  }

  .form__container_path_login {
    margin-top: 151px;
  }
}
